.postTitle21 {
	width: 100%;
	display: block;
	line-height: 1.5em;
	font-weight: 700;
	overflow: visible;
	font-size: 15px;
	text-shadow: #f3f3f3 1px 1px 0px, #b2b2b2 1px 2px 0
}

.menu {
	font-size: 15px;
	color: red;
}

body {
	background-image: url(http://images.cnblogs.com/cnblogs_com/loveincode/1084341/o_LakePukaki.jpg);
	/*background-image: url(http://images.cnblogs.com/cnblogs_com/loveincode/1084341/o_loveincode.jpg);*/

	background-size: 100% 100%;
	background-attachment: fixed;
	background-color: rgb(223, 245, 232);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
    /* -webkit-background-size: cover; */
	-moz-background-size: cover;
	background-size: cover;
}

#topdiv {
 /*页首内容*/
	display: none;
}

#cnblogs_post_body img {
    /*图片*/
	max-width: 950px;
}

#cnblogs_post_body p {
	margin: 2px auto;
	font-size: 1.1em;
	text-indent: 0;
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	/*font-family: "Comic Sans MS","Helvetica","Microsoft Yahei","Verdana","Arial","sans-serif";*/
}

#sideBar {
 /*侧边栏字体*/
	font-family: "Comic Sans MS","Helvetica","Microsoft Yahei","Verdana","Arial","sans-serif";
  display: none;
}

#Header1_HeaderTitle {
 /*博客名*/
	font-family: "Comic Sans MS","Helvetica","Microsoft Yahei","Verdana","Arial","sans-serif";
	text-decoration: none;
}

#home {
	margin-top: 20px;
	width: 60%;
	background-color: rgba(255, 255, 255, 0.8);
       /*background-color: white;*/
	/*font-family: "Comic Sans MS","Helvetica","Microsoft Yahei","Verdana","Arial","sans-serif";*/
	border-radius: 10px;
}

#.c_b_p_desc {
 /*摘要*/
	font-family: "Comic Sans MS","Helvetica","Microsoft Yahei","Verdana","Arial","sans-serif";
}

#navigator {
	display: none;
}

#ad_t2 {
	display: none;
}

#cnblogs_c1 {
	display: none;
}

#under_post_news {
	display: none;
}

#under_post_kb {
	display: none;
}

#cnblogs_c2 {
	display: none;
}

#comment_form_container .comment_textarea {
 /*评论框*/
	width: 97%;
	border-radius: 10px;
	border: 1px solid #21759b;
	background: azure;
}

#footer {
	margin-top: 0px;
	margin-bottom: -20px;
}

#commentbox_opt>a {
	width: 100px;
	height: 28px;
	padding-top: 10px;
	font-size: 14px;
	color: #fff;
	text-align: -webkit-center;
	background: #21759b;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	display: inline-block;
	vertical-align: top;
}

#comment_form_container p {
	text-align: center;
}

#topics .postDesc {
	text-align: right;
}

#comment_nav {
	display: none;
}

#back-to-top {
	background-image: url(https://files.cnblogs.com/files/loveincode/totop1.ico);
	width: 52px;
	height: 50px;
	overflow: hidden;
	position: fixed;
	right: 20px;
	bottom: 13px;
	z-index: 1000;
	cursor: pointer;
}

#blog-news {
	text-align: center;
}

#profile_block {
	//display: none;
	margin-top: 19px;
	line-height: 1.5;
	text-align: left;
	font-size: larger;
	margin-left: 40px;
}

.postBody p, .postCon p {
	text-indent: 2em;
	margin: 0 auto 1em auto;
	font-family: -webkit-body;
}

.liScore,.liRank {
	color: cadetblue;
}

.c_b_p_desc {
	font-size: 14px;
	line-height: 1.7;
	/*font-family: "Comic Sans MS","Helvetica","Microsoft Yahei","Verdana","Arial","sans-serif";*/
}

.entrylistItem {
	min-height: 20px;
	_height: 20px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	width: 100%;
}

.entrylistPostSummary {
	display: none;
}

.entrylistItemPostDesc {
	//display: none;
	text-align: right;
}

#con {
	display: block;
	position: fixed;
	color: white;
	color: #21759b;
	border: 1px solid #21759b;
	background: azure;
	border-radius: 10px;
	padding: 5px;
	font-size: 15px;
	font-family: "Comic Sans MS","Helvetica","Microsoft Yahei","Verdana","Arial","sans-serif";
	right: 55px;
	top: 105px;
	cursor: pointer;
}

#main {
	margin-top: 10px;
}

#mainContent {
 /*文章内容*/
	margin-left: 0px;
  width: 100%;
}

#topicListFooter {
	display: none;
}



#mainContent .forFlow {
	margin-left: 0px;
}

#cnblogs_post_body h1 {
	font-size: 23px;
	font-weight: bold;
	line-height: 1.5;
	margin: 10px 0;
	color: #ffffff;
	border-left: 8px solid #3186ad;
	border-radius: 10px;
	padding: 5px 8px;
	background-color: #3186ad;
}

#cnblogs_post_body h2 {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5;
	margin: 10px 0;
	color: #3480a2;
	border-left: 5px solid #2b98ca;
	padding: 2px 5px;
	background-color: #f5f5f5;
}

#cnblogs_post_body h3 {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	margin: 10px 0;
	color: #3080a5;
	padding: 0px 2px;
}

.day .postTitle a:link, .postTitle a:visited, .postTitle a:active {
	color: #21759b;
	font-size: 16px;
 /* border-bottom: 2px solid #21759b; */
	transition: all 0.4s linear 0s;
}

.postTitle a:link, .postTitle a:visited, .postTitle a:active {
	color: #21759b;
	font-size: 20px;
 /* border-bottom: 2px solid #21759b; */
	transition: all 0.4s linear 0s;
}

#topics .postTitle {
 /*文章标题*/
	border: 0px;
	font-size: 130%;
	font-weight: bold;
	float: left;
	line-height: 1.5;
	width: 100%;
	text-align: center;
}

.day .postTitle {
 /*首页文章标题*/
	border-left: 0px solid #21759b;
	margin-bottom: 0px;
	font-size: 20px;
        /* margin-top: 37px; */
	float: right;
	width: 100%;
	clear: both;
	text-align: center;
 /* margin-right: -90px; */
}

.postDesc {
 /*首页文章时间*/ /*display:none;*/
	font-size: 13px;
	background: url(images/posted_time.png) no-repeat 0 20px;
	color: #757575;
	float: left;
	width: 100%;
	clear: both;
	text-align: left;
	padding-left: 20px;
	padding-right: 5px;
	margin-top: 5px;
	line-height: 1.5;
	text-align: center;
}

#homepage_top_pager {
 /*top翻页*/
	display: none;
}

.pager {
	text-align: right;
	margin-right: 10px;
	text-align: center;
	color: #2e6ab1;
	font-size: 14px;
	margin: 4em 0 1em;
	line-height: 1.6;
}

#nav_next_page a, .pager a {
 /*翻页样式*/
	box-shadow: 0 1px 3px #3671a5;
	border: 1px solid #3671a5;
	background: #3671a5;
	color: white;
	transition: all 0.4s linear 0s;
	display: inline-block;
	padding: 0px 6px;
	border: 0 none;
	box-shadow: none;
	border-radius: 10px;
 /* border-bottom: 2px solid #3671a5; */ /* font-size: 14px; */ /* color: #fff; */ /* background: #3671a5; */
}

#nav_next_page > a {
	padding: 5px 12px;
}

.pager a:hover {
	background: rgba(82, 168, 236, 0.8);
}

.topicListFooter {
 /*首页 下一页div*/
	text-align: center;
	margin-right: 10px;
	margin-top: 10px;
}

#blogTitle {
 /*博客标题*/
	height: 60px;
	clear: both;
	text-align: center;
}

#blogTitle h1 {
	font-size: 35px;
	font-weight: bold;
	line-height: 1.5em;
	margin-top: -30px;
}

#blogTitle h2 {
 /*博客副标题*/
	font-family: "Comic Sans MS","Helvetica","Microsoft Yahei","Verdana","Arial","sans-serif";
	font-size: 10px;
	float: inherit;
	;
}

.cnblogs_code {
 /*代码*/
	border: 1.5px solid #DDD;
	border-left: 3px solid #6CE26C;
	background-color: #E1FFFC;
}

.cnblogs_code div {
	background-color: #E1FFFC;
}

.cnblogs_code pre {
	background-color: #E1FFFC;
	border: solid 0px #ccc;
}

.dayTitle {
 /*日期title*/
	    /* display: block; */
	display: block;
	border: 0px solid #21759b;
    /* background: azure; */
	background: rgba(240, 255, 255, 0);
	border-radius: 10px;
	font-size: 12px;
	height: 20px;
    /* line-height: 1.5; */
	margin: 0px;
	margin-top: 0px;
	text-align: center;
    /* width: 103px; */
	margin-left: 0px;
	clear: both;
	position: relative;
    /* position: absolute; */
	top: 0px;
}

.dayTitle a {
	color: #21759b;
	display: flow-root;
	margin-top: 6.5px;
	width: 100px;
}

.c_b_p_desc_readmore {
 /*阅读全文*/
	display: block;
	padding-top: 5px;
	text-align: center;
}

#preinfo {
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

#div_digg {
 /*推荐*/ /*display: none;*/
	float: right;
	margin-bottom: 10px;
	margin-right: 30px;
	font-size: 12px;
	width: 125px;
	text-align: center;
	position: fixed;
	color: white;
	color: #21759b;
 /* border: 1px solid #21759b; */ /* background: azure; */
	border-radius: 10px;
	padding: 5px;
	font-size: 15px;
	font-family: "Comic Sans MS","Helvetica","Microsoft Yahei","Verdana","Arial","sans-serif";
	right: 230px;
	bottom: -10px;
	cursor: pointer;
	margin-top: 10px;
}

.diggit {
 /*推荐*/
	float: left;
	width: 46px;
	border: 0px solid #21759b;
	height: 48px;
	background: url(https://files.cnblogs.com/files/loveincode/dianup_43.ico) no-repeat;
	text-align: center;
 /* cursor: pointer; */
	margin-top: 2px;
	padding-top: 5px;
	margin-left: 39px;
}

#digg_tips {
	color: #21759b;
}

.buryit {
 /*反对*/
	display: none;
}

#commentform_title {
 /*发表评论*/
	margin: 0px 0 0px;
	border-bottom: 0px solid #cccccc;
	background-image: none;
	padding: 0;
	text-align: center;
}

#author_profile {
 /*作者信息*/
	display: none;
}

#green_channel {
 /*分享按钮*/
	margin: auto;
	border: silver 0px dashed;
}

#green_channel #green_channel_digg {
 /*好文要顶*/ /*background-color: #2daebf;*/ /*position: fixed;*/ /*right: 280px;*/ /*bottom: 20px;*/
}

.feedbackItem {
 /*评论栏*/
	margin-top: 15px;
	border: 1px solid #21759b;
	background: azure;
	border-radius: 10px;
}

.feedbackCon {
 /*评论内*/
	border-bottom: 0px solid #EEE;
}

.body_right img {
 /*评论头像*/
	border: 0;
	border-radius: 40px;
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.blog_comment_body {
	word-wrap: break-word;
	overflow: hidden;
	padding-left: 10px;
	padding-top: 8px;
}

#div_digg .diggnum {
 /*推荐数量*/
	line-height: 3em!important;
	color: white;
	padding-left: 2px;
	margin-top: 2px;
}

.diggword {
    /*推荐文字*/
	margin-top: 0px;
}

#aboutme {
	background-image: radial-gradient(ellipse farthest-corner at center top, #0c9292 0%, #0c5a5a 100%);
	color: white;
}

img[data-action="zoom"] {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
}

.zoom-img, .zoom-img-wrap {
	position: relative;
	z-index: 666;
	-webkit-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
}

img.zoom-img {
	cursor: pointer;
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
}

.zoom-overlay {
	z-index: 420;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	filter: "alpha(opacity=0)";
	opacity: 0;
	-webkit-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}

.zoom-overlay-open .zoom-overlay {
	filter: "alpha(opacity=100)";
	opacity: 1;
}

.zoom-overlay-open, .zoom-overlay-transitioning {
	cursor: default;
}

.c_b_p_desc img {
 /*侧边栏图片*/
	display: block;
}

#digg_tips {
	visibility: hidden;
}

/* #sidebar_topviewedposts {
	margin-top: -110px;
} */

.postSeparator {
	display: none;
}

.postCon a:link, .postCon a:visited, .postCon a:active {
 /* 阅读全文 */ /* text-decoration: underline; */
	color: #3671a5;
	font-size: 15px;
 /*font-family: cursive;*/
}

.postCon a:link, .postCon a:active {
 /* text-decoration: underline; */ /*color: #6ce26c;*/
} /*进度条*/.read-state {
	border-top: 3px solid #b7e1f5;
	display: block;
	transition: width .2s linear 0s;
	position: fixed;
	width: 0px;
	top: 0;
	left: 0;
	z-index: 1;
}

#githubimg {
	top: 0;
} /*代码css*/.code {
	border: 1px solid #ccc;
	padding: 5px;
	background: #eee;
	color: #004080;
	overflow: auto;
	font-family: Consolas "Courier New" Fixedsys;
}

.longcode {
	border: 1px solid #ccc;
	padding: 5px;
	background: #eee;
	color: #004080;
	overflow: auto;
	height: 200px;
	font-family: Consolas "Courier New" Fixedsys;
}

.console {
	border: 1px solid #ccc;
	padding: 2px;
	background: #000;
	color: #ccc;
	overflow: auto;
	font-family: "Verdana";
}

pre {
	border: solid 1px #ccc;
	padding: 5px;
	overflow: auto;
	background: #eee;
	color: #004080;
	font-family: Consolas "Courier New" Fixedsys;
}

.code {
}

.longcode {
	height: 200px;
}

.console {
	background: #000;
	color: #ccc;
	font-family: "Verdana";
}

#cnzz_stat_icon_1264359939 {
	/*display: none;*/
}

.day {
    /* min-height: 10px; */
	_height: 10px;
	margin-bottom: 5px;
	padding-bottom: 0px;
	position: relative;
	border-left: 2px dotted #21759b;
}

.day>.postDesc {
	display: none;
}

.postCon {
	display: none;
}

.newsItem, .catListEssay, .catListLink, .catListNoteBook, .catListTag, .catListPostCategory, .catListPostArchive, .catListImageCategory, .catListArticleArchive, .catListView, .catListFeedback, .mySearch, .catListComment, .catListBlogRank, .catList, .catListArticleCategory {
	background: rgba(255, 255, 255, 0.15);
	-webkit-box-shadow: 1px 2px 3px #ddd;
	box-shadow: 2px 5px 0px #ddd;
	margin-bottom: 30px;
	word-wrap: break-word;
	border-radius: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #ddd;
}

#blog-sidecolumn h3, .newsItem h3 {
	padding-bottom: 10px;
	padding-left: 20px;
	font-size: 16px;
	border-bottom: 1px solid #ddd;
	font-weight: normal;
}

#blog-sidecolumn ul, .newsItem #blog-news {
	font-size: 0.9em;
	padding: 15px 20px;
}

.gallery img {
	max-width: 960px;
	height: unset;
}
.login_tips {
    background-image: url(#);
}
